/* para ver cajas temporal */
// * {
//     border: 1px solid rgb(0, 255, 81);
// }


/* estilos globales */
body {
    font-family: "avant", sans-serif;
    /*pisar font BS*/
    color: $text-primaryt;
    /*pisar color BS*/
}

.background-color-black {
    background-color: $background-primary;
}

.background-color-white {
    background-color: white;
}

.background-color-grey {
    background-color: #d6d6d6;
}

.background-color-darkgrey {
    background-color: $background-secondary;
}

.background-color-teal {
    background-color: $color-brand;
}

.background-color-gradient {
    background-image: linear-gradient(135deg, #5ee4fd 50%, #9e3bc2 100%,);

}

.container-large {
    margin: auto;
    max-width: 120rem;
    padding: 0rem 3rem;
}

.max-width-small {
    max-width: 30rem;
}

.max-width-medium {
    max-width: 50rem;
}

.padding-section {
    /*padding global para secciones*/
    /* MAP de padding */
    padding-top: map-get($map: $padding-section, $key: top);
    padding-bottom: map-get($map: $padding-section, $key: bottom);
    ;
}

/* fonts-estilos-globales*/
@font-face {
    /*fonts import*/
    font-family: avant;
    src: url(../assets/ITC-Avant/ITCAvantGardeStd-Bk.otf);
}

h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 7rem;
    font-weight: 900;
    /*pisar weith:500 BS*/
    line-height: 1;
    margin-bottom: 0;
}

h2 {
    font-family: 'Aldrich', sans-serif;
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 0;
}

h3 {
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    line-height: 0.8;
    margin-bottom: 0;
}

h4 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0;
}

h5 {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0;
}

h6 {
    font-family: 'Aldrich', sans-serif;
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0;
}

p {
    line-height: 1.3;
    /*pisar line-height BS*/
    margin-bottom: 0;
    /*pisar margin BS*/
}

.tittle-big {
    /*títulos principales*/
    font-family: 'Aldrich', sans-serif;
    font-size: 13rem;
    line-height: 0.5;
    position: relative;
    left: -1rem;
}

.text-color-black {
    color: black;
    /*pisar color BS*/
}

.text-color-gray {
    color: $text-secondary;
}