//color-de-marca
$color-brand: #5ee4fd;

//color-textos
$text-primaryt: #ffffff;
$text-secondary: #9f9f9f;

//color-backgrounds
$background-primary: #111111;
$background-secondary: #9f9f9f;

//boton-radio-borde
$radius-button: 100px;

//
//MAP-padding-section
$padding-section: (
    top: 8rem,
    bottom: 8rem,
);

//
//LIST-image-radius
$radius:
1.5rem,
1rem,
0.75rem,
