/* botones-estilos-global */
.button {
    background-color: transparent;
    border: 2px solid $color-brand;
    border-radius: $radius-button;
    color: $text-primaryt;
    padding: 10px 40px;
    cursor: pointer;
}

.button-secondary {
    background-color: $background-primary;
    border: 0px;
}

.autor-nft-button {
    background-color: $color-brand;
    height: 12rem;
    align-self: flex-end;
}