/* header-estilos-general*/
#top {
    position: relative;
    z-index: 10;
    }
    nav {
        div {
            a {
                img {
                    height: 60px;
                }
            }
            div {
                ul {
                    li {
                        .nav-link {
                            &:hover { 
                                color: $color-brand;
                            }
                        }
                    }
                }
            }
        }
    }
